@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
*{margin: 0px; padding: 0px;}
body{font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; }
.PDFHeader img{float:left;}
.HeaderText{float:right; display:inlin-block; font-size: 22px; font-weight: 700; color: #4D4D4D; margin-top:20px;}

.PDFContent, .PDFHeader, .PDFJobInfo, .PDFTblHeader{width:100%; display:inline-block; float:left;}
.PDFJobInfo{margin:25px 0 0;}
.PDFTittl{margin:20px 0; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.PDFTittl td.PDFTxtRit{ width:22%; padding-left:30px;}
.PDFTittl td{width:20%;}
.PDFTittl .LblBold{font-weight:bold;}

.PDFTblHeader table{border-spacing: 0; border-collapse: collapse; font-size:12px; width:100%;}
.PDFTblHeader table th, .PDFTblHeader table td{padding: 5px;}
.PDFDay{display:inline-block; width:100%;}

.week-header > thead > tr > th { vertical-align: bottom; border-bottom: 1px solid #adadad; }
.week-header tbody tr.SubTitle td{background:#ececec; color: #003472; font-weight: 600; }
.week-header th { font-weight: bold; color: #000; background: #c6c6c8; border-right: 2px solid #adadad; box-shadow: inset 1px 0px 0px #d9d9d9; font-size:11px;}
.week-header tbody tr.PDFDesignation td{color: #003472; font-weight: 600; border-right:1px solid #adadad;}
td.LastLine{border-right:1px solid #b1b1b1;}
.week-header tbody tr td { color: #585757; font-weight: normal;  vertical-align: middle; border-left: 1px solid #b1b1b1; border-bottom: 1px solid #b1b1b1;}
.PDFTblHeader .bottom {padding-top: 5px; text-align:}
.PDFTblHeader .top { border-bottom: 1px solid #b2b2b3; padding-bottom: 5px;}
td.no-border {border-right: 0px !important;}
.week-header tbody tr.PDFTimelineTotal td{background:#ececec; font-weight: 600;}

.PDFOverallTotal{width:100%; display:inline-block; float:left; background:#ccc; margin:20px 0; padding:0 0 15px 0;}
.OverallWrap{width: 195px; float: left; padding-right: 15px; padding-left: 15px; margin-top:25px;}
.OverallWrap label{width:100%; display:inline-block; float:left;}
.WrapTitle{font-weight:bold; color:#000;}
.WrapTxt{color:#003472; margin-top:8px;}